<div class="row">
    <div class="col-md-12">
        <h2>Contact Us</h2>
    </div>
    <div class="col-md-4 col-xs-12 pull-right">
        <h4 class="contact-box-title">Customer Center</h4>
        <div ng-repeat="ccr in $parent.cc_voice_support">
            <div class="contact-box">
                <img src="{$ ccr.image $}" alt="contact-img">
                <div class="contact-box-name">{$ ccr.name $}</div>
                <div class="contact-box-phon"><span class="highlight">Phone:</span> {$ ccr.phone $}</div>
                <div class="contact-box-email"><span class="highlight">Email:</span> {$ ccr.email $}</div>
                <div class="clearfix"></div>
            </div>
            <div class="contact-box-border">&nbsp;</div>
        </div>
        <div class="contact-box-divider">&nbsp;</div>

        <h4 class="contact-box-title">Change or Cancel Reservation</h4>
        <div ng-repeat="ccr in $parent.cc_technical_support">
            <div class="contact-box">
                <img src="{$ ccr.image $}" alt="contact-img">
                <div class="contact-box-name"> {$ ccr.name $}</div>
                <div class="contact-box-phon"><span class="highlight">Phone:</span> {$ ccr.phone $}</div>
                <div class="contact-box-email"><span class="highlight">Email:</span> {$ ccr.email $}</div>
                <div class="clearfix"></div>
            </div>
            <div class="contact-box-border">&nbsp;</div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12 pull-left">
        <p class="contact-info">
            You have any questions or need additional information? <br>
            <span class="address">
                <span class="highlight">Address:</span>
                <!--Car|Rental / 3861 Sepulveda Blvd. / Culver City, CA 90230-->
            </span>
        </p>
        <form id="contact-form" name="contact-form">
            <input type="hidden" name="action" value="send_contact_form">

            <div class="alert hidden" id="contact-form-msg"></div>

            <div class="form-group">
                <input type="text" class="form-control first-name text-field" name="first-name" placeholder="First Name:" ng-model="$parent.fp_firstname">
                <input type="text" class="form-control last-name text-field" name="last-name" placeholder="Last Name:" ng-model="$parent.fp_lastname">
                <div class="clearfix"></div>
            </div>

            <div class="form-group">
                <input type="tel" class="form-control telephone text-field" name="telephone" placeholder="Telephone:" ng-model="$parent.fp_telephone">
            </div>

            <div class="form-group">
                <input type="email" class="form-control email text-field" name="email" placeholder="Email:" ng-model="$parent.fp_email">
            </div>

            <div class="form-group">
                <textarea class="form-control message" name="message" placeholder="Message:" style="resize:none" ng-model="$parent.fp_message"></textarea>
            </div>

            <button class="btn submit-message" ng-click="submit_feedback_message()">Submit Message</button>


        </form>
    </div>

</div>