<div class="container">
    <div class="row">
        <div class="col-md-12"><div class="alert hidden" id="newsletter-form-msg"></div></div>
        <div class="col-md-5 col-xs-12">
            <h2 class="title">
                Sign up for amazing offers
                <span class="subtitle">exclusive access for offers and promotions</span>
            </h2>
        </div>
        <div class="col-md-7">
            <div class="newsletter-form pull-left">
                <form action="#" method="post" name="newsletter-form" id="newsletter-form">
                    <input type="hidden" name="action" value="send_newsletter_form">
                    <div class="input-group">
                        <input type="email" name="newsletter-email" class="form-control" placeholder="Enter your Email Address">
                        <span class="input-group-btn">
                            <input class="btn btn-default button" type="button" value="send" ng-click="sign_up_for_offers()">
                        </span>
                    </div>
                </form>
            </div>
            <div class="social-icons pull-right">
                <ul>
                    <li><a class="facebook" href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a class="googleplus" href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href=""><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>