<div class="row text-center">
    <div class="col-md-12 stars">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star big"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <div id="reviews-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">

                <!-- Review item 1 start -->
                <div class="item">
                    <div class="review">
                        It is always a positive experience when renting from your 5th street location. The staff is very professional and efficient and always smiling. And I always feel welcome and appreciated. The management is always prompt to solve any issue at any moment. Their efficiency and professionalism makes it my number one choice.
                    </div>
                    <div class="author">
                        – Michael Smith, Santa Barbara CA
                    </div>
                </div>
                <!-- Review item 1 end -->
                <!-- Review item 2 start -->
                <div class="item active">
                    <div class="review">
                        This rental was the best rental experience ever! After completing all details on-line myself, the pick-up was super efficient, extremely friendly, and free of the usual 5 - 10 min very unpleasant drilling of why one is not signing up to all options (insurance, etc). I was handed the keys and a wide register print out that required...
                    </div>
                    <div class="author">
                        – Jon Doe, Las Vegas NV
                    </div>
                </div>
                <!-- Review item 2 end -->
                <!-- Review item 3 start -->
                <div class="item">
                    <div class="review">
                        This was my first time renting from car|rental. And over all it was a wonderful experience I have no complaints. The service rep help me find the best rental to suit my needs. I also love the fact that you guys provide luxury rentals at a great price. I will definitely rent with this company again.
                    </div>
                    <div class="author">
                        – Michael Smith, Santa Barbara CA
                    </div>
                </div>
                <!-- Review item 3 end -->

            </div>

            <!-- Review Nav start -->
            <ol class="carousel-indicators">
                <li data-target="#reviews-carousel" data-slide-to="0" class=""></li>
                <li data-target="#reviews-carousel" data-slide-to="1" class="active"></li>
                <li data-target="#reviews-carousel" data-slide-to="2" class=""></li>
            </ol>
            <!-- Review Nav end -->

        </div>
    </div>
</div>